.textHeader{
    color: blue;
    text-align: center;
}
/*justify-items - left/right*/
/*align-items - top/bottom*/
/*justify-content - when using px*/
.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
}

.postItem{
    background-color: white;

    padding: 5%;
    border-radius: 5px;
}