@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.textHeader{
    color: black;
    text-align: center;
    font-family: "Noto Sans", sans-serif;

}
/*justify-items - left/right*/
/*align-items - top/bottom*/
/*justify-content - when using px*/
.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
}

.postItem{
    background-color: white;

    padding: 5%;
    border-radius: 5px;
}

.mainP{
     width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden; /* Ensures the image stays within the circular boundary */
    text-align: center;

    display: block;
    margin: 0 auto; /* Centers the image horizontally */
}

.postItem p{
 background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
}

.postItem button{
    display: block;
    margin: 0 auto;
}