{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'posts/header.css' %}">
    <link rel="stylesheet" href="{% static 'posts/specific_post.css' %}">
{% endblock %}

{% block content %}
    {% include 'posts/includes/header.html' %}
    <div class="mainContainer">
         <h1 >{{ post.title }}</h1>
         <p>{{ post.content }}</p>
        <img src='{% static "posts/images/" %}{{ post.image }}' alt="{{ post.image }}">
    </div>
{% endblock %}

